/* 
L57: HEADER
L93: MAIN
    l95: LEFT COLUMN
    L153: MAIN SQUARE
l285: FOOTER    
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

html{
	background-image:url("./assets/hurricane.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	color:white;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

header {
    width:100%;
    height: 15%;
    display: flex;
    align-items: center;
}

main {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

footer {
    width: 100%;
    height: 10%;
}

p {
    margin: 0;
    padding: 0;
}

/* ---HEADER--- */

#headerBar {
    position: relative;
    width: 100%;
    height: 100%;
	display:flex;
	justify-content:space-between;	
    background: rgb(28,24,33,0.8);	
}
#soleil{
    margin-top: 22px;  
    margin-left: 20px;
    width: 80px;
    height: 80px;
    
}
#title {
    position: absolute;
    left: 90px;;
    margin-top: 20px;
    margin-left: 25px;
    font-size:65px;
	width:30%;
    color: white;
}
#hour {
    position: absolute;
    right:90px;
    margin-top: 35px;
    text-align: right;
    color: white;
    font-size:40px;
	width:30%;
}

/* ---MAIN--- */

/* LEFT COLUMN */

#left_column {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#arrowUp,
#arrowDown {
    font-size: 500%;
    color: rgba(240, 248, 255, 0.615);
    cursor: pointer;
}
#arrowUp {
    position: absolute;
    transform: rotate(-90deg);
    top:75px;
}
#arrowDown {
    position: absolute;
    transform: rotate(90deg);
    bottom: 75px;
}
#arrowUp:hover,
#arrowDown:hover {
    color: rgba(100, 100, 100, 0.5);
}
.date{
    font-size: 30px;
    margin: 15px;
}
.temp{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.img img{
    width: 70px;
    height: 70px;
}
.weather-info-container {
    position: absolute;
    width: 70%;
    height: 50%;
    background: rgb(28, 24, 33, 0.8);
    border-radius: 40px;
    margin-left: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MAIN SQUARE */

#main_square {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main_square_container {
    position: absolute;
    width: 95%;
    height: 95%;
    background: rgb(28,24,33,0.8);
    border-radius:40px;     
}
#main_square_headBar { 
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
#date {   
    position: absolute;
    width: 50%;
    height: 100%; 
    left: 50px;
    display: flex;
    align-items: center; 
    border: 0;  
    font-size:30px;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
}
#search {   
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
}
#search_input {
    position: absolute;
    height: 50%;
    right: 50px;
    text-align: center;
    border: 0;
    outline: 0;
    font-size: 30px;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 1px solid #4383dc;   
}
#main_square_body {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#info {
    width: 100%;
    height: 55%;
    text-align: center;
}
#name {
    margin: 30px;
    font-size: 50px;
}
#temp {
    margin: 10px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
#imgMeteo img{
    width: 80px;
    height: 80px;
}
#desc {
    font-size: 20px;
}
#slider_container { 
    width: 100%;
    height: 45%;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
#slider {
    display: flex;
	overflow: hidden;
	width:80%;
    align-items: center;
    justify-content: center;
}
.item {
    position: relative;
    width: 20%;

    text-align: center;
}
.item img {
	width: 50px;
    height: 50px;
}
#arrowRight,
#arrowLeft {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(100,100,100, 1);
}
#arrowRight {
    left: 150px; /* Placer à droite */
    transform: rotate(-180deg);
}
#arrowLeft {
    right: 150px; /* Placer à gauche */
}
#arrowRight:hover, #arrowLeft:hover{
    color: rgba(100, 100, 100, 0.5);
}

/* ---FOOTER--- */

#footer_box {   
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    display: flex;
}
#pre_footer {
    width: 15%;
    height: 100%;

    display:flex;
    align-items: center;
}
#legal {
    width: 70%;
    height: 100%;

    display:flex;
    align-items: center;
    justify-content: center;
    
}
#icon_box {
    width: 15%;
    height: 100%;

    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.icon {
    width: 50px;
    height: 50px;
    margin-left: 20px;  
}
#iconOpenWeather {
    width: 120px;
    height: 50px;
    margin-left: 20px;  
    border-radius: 3px;
}
.icon:hover, #iconOpenWeather:hover {
    transform: scale(1.2);
  } 
.icon:last-child {
    margin-right: 20px;
}